# Visual Studio
.vs/
.vscode/

# .NET
bin/
obj/

# Publish
publish/

# Node.js
node_modules/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build logs
*.log

# NuGet
packages/
.nuget/

# OS
.DS_Store
Thumbs.db